
<div class="container">
    <form class="row" [formGroup]="userForm">
        
        <div class="col-md-9">
            <label for="name" class="form-label">FIRST NAME: </label>
            <input type="text" class="form-control"  formControlName="firstname" id="firstname">
            <!-- <span class="error" *ngIf="!userForm.controls.firstname.valid && userForm.controls.firstname.touched" 
            class="text-danger"> First Name is required</span>
            <span class="error" class="text-danger"*ngIf="!userForm.controls.firstname.valid && userForm.controls.firstname.errors?.pattern ">
            Only characters are allow.
            </span> -->
            <span class="text-danger" 
            *ngIf="!userForm.controls.firstname.valid && (userForm.controls.firstname.touched || submitted) && userForm.controls.firstname.errors?.required">
            First Name is required
        </span>
        <span class="text-danger"
            *ngIf="(userForm.controls.firstname.touched) && userForm.controls.firstname.errors?.pattern">
            Only characters are allow.
        </span>
        </div>
    
        <div class="col-md-9">
            <label for="accountno" class="form-label">LAST NAME: </label>
            <input type="text" class="form-control"  formControlName = "lastname" id="lastname">
            <span class="errorr" *ngIf="!userForm.controls.lastname.valid && userForm.controls.lastname.touched" 
            class="text-danger"> Last Name is required</span>
        </div>
        <div class="col-md-9">
            <label for="accountno" class="form-label">BIRTHDATE: </label>
            <input type="date" class="form-control"  formControlName = "birthdate" id="birthdate">
            <span class="errorr" *ngIf="!userForm.controls.birthdate.valid && userForm.controls.birthdate.touched" 
            class="text-danger"> Birhdate is required</span>
        </div>
        <div class="col-md-9">
            <label for="gender" class="radio-inline" style="margin-right: 15px;"> GENDER: </label>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="gender" id="male"  formControlName='gender' value="Male" [(ngModel)]="gender">
                <label class="form-check-label " for="male"> Male
                </label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="gender"  id="female" formControlName='gender'  value="Female">
                <label class="form-check-label" for="female"> Female
                </label>
            </div>
        </div>
        <div class="col-md-9">
            <label for="accountno" class="form-label">DEPARTMENT: </label>
            <input type="text" class="form-control"  formControlName = "department" id="birthdate">
            <span class="errorr" *ngIf="!userForm.controls.department.valid && userForm.controls.department.touched" 
            class="text-danger"> Department is required</span>
        </div>
        <div class="form-group form-check" *ngIf = "userForm.controls.enable ? true :false">
            <input type="checkbox" class="form-check-input" id="exampleCheck1" formControlName="enable">
            <label class="form-check-label" for="exampleCheck1">Enabled</label>
          </div>
        
        <div class="col-9">
            <button class="btn btn-primary" type="submit" routerLink="/employee" [disabled]="!userForm.valid" (click)="onSubmit()">Submit form</button>
        </div>
    </form>
</div>