<p>form-presentation works!</p>
<div class="container">
    <form class="row" [formGroup]="userForm">
        
        <div class="col-md-9">
            <label for="name" class="form-label">FIRST NAME: </label>
            <input type="text" class="form-control"  formControlName="firstname" id="firstname">
            <span class="error" *ngIf="!userForm.controls.firstname.valid && userForm.controls.firstname.touched" 
            class="text-danger"> First Name is required</span>
        </div>
    
        <div class="col-md-9">
            <label for="accountno" class="form-label">LAST NAME: </label>
            <input type="text" class="form-control"  formControlName = "lastname" id="lastname">
            <span class="errorr" *ngIf="!userForm.controls.lastname.valid && userForm.controls.lastname.touched" 
            class="text-danger"> Last Name is required</span>
        </div>
        <div class="col-md-9">
            <label for="accountno" class="form-label">BIRTHDATE: </label>
            <input type="date" class="form-control"  formControlName = "birthdate" id="birthdate">
            <span class="errorr" *ngIf="!userForm.controls.birthdate.valid && userForm.controls.birthdate.touched" 
            class="text-danger"> Birhdate is required</span>
        </div>
        <div class="col-md-9">
            <label for="gender" class="form-label"> GENDER </label>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="gender" id="male"  formControlName='gender' value="Male" defualtchecked>
                <label class="form-check-label" for="male"> Male
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="gender"  id="female" formControlName='gender'  value="Female">
                <label class="form-check-label" for="female"> Female
                </label>
            </div>
            <!-- <span class="error-msg" *ngIf=" bankdetailForm.controls['paymentOptions'].errors?.required">
                Please select any option above!
            </span> -->
        </div>
        <div class="col-md-9">
            <label for="accountno" class="form-label">DEPARTMENT: </label>
            <input type="text" class="form-control"  formControlName = "department" id="birthdate">
            <span class="errorr" *ngIf="!userForm.controls.department.valid && userForm.controls.department.touched" 
            class="text-danger"> Department is required</span>
        </div>
        
        <div class="col-9">
            <button class="btn btn-primary" type="submit" routerLink="/employee" [disabled]="!userForm.valid" (click)="onSubmit()">Submit form</button>
        </div>
    </form>
</div>